ul.jqtree-tree {
    margin-left: 12px;
}

ul.jqtree-tree,
ul.jqtree-tree ul {
    list-style: none outside;
    margin-bottom: 0;
    padding: 0;
}

ul.jqtree-tree ul {
    display: block;
    margin-left: 12px;
    margin-right: 0;
}

ul.jqtree-tree li.jqtree-closed > ul {
    display: none;
}

ul.jqtree-tree li {
    clear: both;
}

ul.jqtree-tree .jqtree-toggler {
    background-image: url(../img/jqtree-icons.png);
    background-repeat: no-repeat;
    background-position: -8px 0;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    left: -12px;
    top: 30%;
    text-indent: -9999px;
    border-bottom: none;
}

ul.jqtree-tree div {
    cursor: pointer;
}

ul.jqtree-tree .jqtree-title {
    color: #fff;
    vertical-align: middle;
}

ul.jqtree-tree li.jqtree-folder {
  margin-left: 15px;
  margin-bottom: 4px;
}

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
    margin-bottom: 1px;
}

ul.jqtree-tree li.jqtree-folder .jqtree-title {
    margin-left: 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
    background-position: 0 0;
}

span.jqtree-dragging {
    color: #fff;
    background: #000;
    opacity: 0.6;
    cursor: pointer;
    padding: 2px 8px;
}

ul.jqtree-tree li.jqtree-ghost {
    position: relative;
    z-index: 10;
    margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
    display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
    background-image: url(../img/jqtree-icons.png);
    background-repeat: no-repeat;
    background-position: 0 -8px;
    height: 8px;
    width: 8px;
    position: absolute;
    top: -4px;
    left: 2px;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
    background-color: #0000ff;
    height: 2px;
    padding: 0;
    position: absolute;
    top: -1px;
    left: 10px;
    width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
    margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
    position: absolute;
    display: block;
    left: -2px;
    top: 0;
    border: solid 2px #0000ff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0;
}

ul.jqtree-tree div {
    width: 100%; /* todo: why is this in here? */
    *width: auto; /* ie7 fix; issue 41 */
    position: relative;
    padding: 4px;
}

ul.jqtree-tree li.jqtree-selected > div,
ul.jqtree-tree li.jqtree-selected > div:hover {
    /*background-color: #97BDD6;
    background: -webkit-gradient(linear, left top, left bottom, from(#BEE0F5), to(#89AFCA));
    background: -moz-linear-gradient(top, #BEE0F5, #89AFCA);
    background: -ms-linear-gradient(top, #BEE0F5, #89AFCA);
    background: -o-linear-gradient(top, #BEE0F5, #89AFCA);*/
    background: rgba(255,255,255,0.1);
    border: 2px solid #97BDD6;
    border-radius: 7px;
}

ul.jqtree-tree .jqtree-moving > div .jqtree-title {
    outline: dashed 1px #0000ff;
}

.hierarchy-container .title {
  height: 23px;
  color: #fff;
  padding-left: 16px;
  padding-top: 5px;
  background: black url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}